In [1]:
import pandas as pd

In [2]:
df_base = pd.read_excel("data_set_base.xlsx", index_col="id")
df_base.head()

,ogm,exames_1ano,exames_2ano,exames_3ano,dp_1ano,dp_2ano,dp_3ano,cm_1ano,cm_2ano,cm_3ano,...,vl11,vl12,vlx1,vj14,vlx2,vlx3,rc1,rc2,rcn,abandono
id,,,,,,,,,,,,,,,,,,,,,
1,PA,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,1.0,...,4.0,2.0,2.0,NaN,2.0,4.0,4.0,4.0,4.0,0
2,PA,0.0,1.0,NaN,0.0,0.0,0.0,2.0,1.0,2.0,...,5.0,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,PA,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,2.0,NaN,2.0,NaN,4.0,4.0,4.0,1
4,PA,2.0,3.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,NaN,NaN,NaN,4.0,4.0,NaN,1
5,PA,0.0,4.0,NaN,0.0,0.0,0.0,27.0,40.0,43.0,...,3.0,2.0,2.0,NaN,4.0,NaN,4.0,4.0,NaN,0

In [3]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 611 entries, 1 to 611
Data columns (total 38 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ogm          611 non-null    object
 1   exames_1ano  605 non-null    float64
 2   exames_2ano  450 non-null    float64
 3   exames_3ano  76 non-null     float64
 4   dp_1ano      605 non-null    float64
 5   dp_2ano      450 non-null    float64
 6   dp_3ano      244 non-null    float64
 7   cm_1ano      573 non-null    float64
 8   cm_2ano      429 non-null    float64
 9   cm_3ano      245 non-null    float64
 10  atr          611 non-null    int64
 11  psr          611 non-null    int64
 12  scr_1ano     512 non-null    object
 13  scr_2ano     285 non-null    float64
 14  scr_3ano     153 non-null    object
 15  ic_1ano      512 non-null    object
 16  ic_2ano      285 non-null    object
 17  ic_3ano      153 non-null    object
 18  vl01         515 non-null    float64
 19  vl02         512 non-null    float64
 20  vl03         510 non-null    float64
 21  vl04         506 non-null    float64
 22  vl05         497 non-null    float64
 23  vl06         490 non-null    float64
 24  vl07         482 non-null    float64
 25  vl08         477 non-null    float64
 26  vl09         458 non-null    float64
 27  vl10         449 non-null    float64
 28  vl11         440 non-null    float64
 29  vl12         430 non-null    float64
 30  vlx1         415 non-null    float64
 31  vj14         8 non-null      float64
 32  vlx2         131 non-null    float64
 33  vlx3         19 non-null     float64
 34  rc1          395 non-null    float64
 35  rc2          278 non-null    float64
 36  rcn          78 non-null     float64
 37  abandono     611 non-null    int64
dtypes: float64(29), int64(3), object(6)
memory usage: 186.2+ KB

Digite o valor de a (a >= 1): 60
Digite o valor de b (b <= 100): 10

10